$animation: 16s;
$width: 200px;
$height: 100px;

body {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	font-family: 'Roboto', sans-serif;
	.row {
		display:flex;
		flex-direction:row;
		>*:not(.row):not(.column), .row>*:not(.row):not(.column), .column>*:not(.row):not(.column) {
			margin:10px;
		}
	}
	// New Stuff

	.main-title{
		text-align: center;
    padding: 25px;
		img{
			width: 300px;
		}
	}

.loading {
background: url("https://media.giphy.com/media/RiPtJscZIs2DYFxojM/giphy.gif") no-repeat center center fixed;
background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
}

.loaded {		
	opacity: 0;
	background-color: black;
		transition: opacity 2s;
		background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
}

.unloaded {
	display: none;
}

	.square-link {
    width: inherit;
    img {
    	width: inherit;
    	height: inherit;
    }
	}

	.fit-height {
    height: -webkit-fill-available;
	}

	//
	.column {
		display:flex;
		flex-direction:column;
	}
	.wrapper .rotate >*, .square {
		box-shadow:0 0 0 0px rgba(255, 255, 255, 0.3);
		&:hover {
			box-shadow:inset 0 0 0 2px rgba(255, 255, 255, 0.5);
		}
	}
	.wrapper {
		width: var(--width);
		height: var(--height);
		display:inline-block;
		perspective: 0px;
		perspective-origin: 50% 50%;
		cursor: pointer;
		.rotate {
			position: relative;
			width: var(--width);
			transform-style: preserve-3d;
			transform-origin: 0 calc(var(--height)/2);
			animation: spin var(--duration, $animation) infinite ease var(--offset, 0s);
			&:hover { //On hover the animation is paused, pointer events is disabled while rotating
				animation-play-state:paused;
			}
			>a {
				color:inherit;
				text-decoration:none;
			}
			.front {
				background:#ED5565;
				transform: translateZ(calc(var(--height)/2));
			}
			.bottom {
				background:#FFCE54;
				transform: rotateX(-90deg) translateY(calc(var(--height)/2));
				transform-origin: bottom center;
				animation-delay:-3*$animation/4;
			}
			.back {
				background:#2ECC71;
				transform: translateZ(calc(var(--height)/-2)) rotateX(180deg);
				animation-delay:$animation/-2;
			}
			.top {
				background:#5D9CEC;
				transform: rotateX(-270deg) translateY(calc(var(--height)/-2));
				transform-origin: top center;
				animation-delay:$animation/-4;
			}
			>* {
				position: absolute;
				width: var(--width);
				height: var(--height);
				transition:.25s -.1s;
				&.t-white {
					color:white;
				}
				&.image-banner {
					display:flex;
					flex-direction:row;
					align-items:center;
					>*:not(img) {
						flex-grow:1;
					}
					>* {
						margin:10px 0 10px 10px;
						&:first-child {
							margin-left:10px;
						}
						&:last-child {
							margin-right:10px;
						}
					}
					img {
						height:calc(100% - 20px);
					}
					.text {
						display:flex;
						flex-direction:column;
						.b {
							font-weight:bold;
						}
					}
				}
				&.backgroundimage {
					background-size:200px 200px;
					background-position:center;
					background-repeat:no-repeat;
				}
				&.icon {
					line-height:var(--height);
					text-align:center;
				}
			}
		}
	}
	.square {
		background:#CCD1D9;
		width: $height;
		height: $height;
		cursor: pointer;
		transition:.25s -.1s;
		&.small {
			width: $height/2 - 10px;
			height: $height/2 - 10px;
		}
		&.long {
			width: $height * 2 + 20px;
			height: $height;
		}
	}
}

@keyframes spin {
	10.001%, 15%, 35.001%, 40%, 60.001%, 65%, 85.001%, 90% {
		pointer-events: none; //Cannot hover while rotating
	}
	0%, 10% {
		transform: rotateX(0);
		pointer-events: initial;
	}
	15.001%, 25%, 35% {
		transform: rotateX(90deg);
		pointer-events: initial;
	}
	40.001%, 50%, 60% {
		transform: rotateX(180deg);
		pointer-events: initial;
	}
	65.001%, 75%, 85% {
		transform: rotateX(270deg);
		pointer-events: initial;
	}
	90.001%, 100% {
		transform: rotateX(360deg);
		pointer-events: initial;
	}
}